.work-1 {
  background-image: url(./Homework02/Assets/Images/640-contact.jpg);
  height: 40vh;
}

.work-2 {
  background-image: url(./Homework02/Assets/Images/640-contact.jpg);
  height: 40vh;
  margin-right: 10px;
}

.work-3 {
  background-image: url(./Homework02/Assets/Images/640-contact.jpg);
  height: 40vh;
  margin-right: 10px;
}

.work-4 {
  background-image: url(./Homework02/Assets/Images/640-contact.jpg);
  height: 40vh;
  margin-right: 10px;
}